


.container {
  display: grid;
  grid: '. . .'
    'sidebar window .'
    '. window__move .'
    '. window__git .'
    ;
}

/* sidebar */


.sidebar__folders--github img{
border-width: thick;
  width: 72px;
  height: 72px;

}
.sidebar__folders--linkedIn img{
  width: 72px;
  height: 72px;

}

.sidebar__folders {
  grid-area: sidebar;
  z-index: 3;
  position: fixed;
  margin: 3% 0% 0% 0%;
}

.sidebar__folder {
  width: 75px;
  height: 62px;
  display: flex;
  margin: 30% 0% 40% 0%;
}

.sidebar__folder--oranje1 {
  background-color: #FF9933;
  height: 45px;
  width: 14px;
  border-radius: 5px 5px 0px 0px;
}

.sidebar__folder--oranje2 {
  background-color: #FF9933;
  height: 39px;
  width: 61px;
  border-radius: 0px 5px 0px 0px;
  margin: 6px 0px 0px -1px;
}

.sidebar__folder--zwart {
  background-color: #333333;
  width: 75px;
  height: 38px;
  border-radius: 5px;
  margin-top: 15px;
  z-index: 2;
  position: absolute;
}

/* window */
.window__img{
grid-area: window;
height: 236px;
width: 254px;
margin: 156px 0px 0px 148px;

}
.window__move{

grid-area: window__move;
height: 270px;
width: 553px;
margin: 60px 0px 0px 300px;
}

.window__website{
  height: 226px;
  width: 553px;
}

.window__git{
    grid-area: window__git;
    height: 270px;
    width: 553px;
    margin: 60px 0px 0px 300px;
}
.window {
  grid-area: window;
  height: 270px;
  width: 553px;
margin: 60px 0px 0px 300px;
}

.window__header--zwart {
  width: 289px;
  margin-left: 19px;
  border-style: solid;
  border-width: 0 0 44px 45px;
  border-color: transparent transparent #333333 transparent;
  background-color: #FF9933;
}

.window__header--oranje {
  background-color: #FF9933;
  width: 226px;
  height: 43px;
  padding-left: 200px;
}

.window__textfield {
  height: 226px;
  width: 553px;
  background-color: #D7D7D7;
}




@media screen and (max-width: 720px)  {
body{
  background-color: green;
}

.container {
  display: grid;
  grid: '. . .'
    '. window .'
    '.window__img.'
    '. window__move .';
}
.window__move{
  display:hidden;
}
.window__git{
  display: hidden;
}
.window {
  grid-area: window;
  height: 270px;
  width: 100px;
margin: 60px 0px 0px 10px;
}



.window__img{
grid-area:window__img;
height: 236px;
width: 254px;
margin: 156px 0px 0px 148px;

}

}
