.container {
  display: grid;
  grid: 'pictureSlide'
    'textBox '
    'gameboys'
    'textBox_twee';
}
.sidebar__folders {
  grid-area: sidebar;

}
.sidebar__folder{
  width: 75px;
  height: 62px;
  display: flex;
}


.sidebar__folder--oranje1{
background-color: #FF9933;
height:45px;
width:14px;
border-radius: 5px 5px 0px 0px;
}
.sidebar__folder--oranje2{
background-color: #FF9933;
height:39px;
width:61px;
border-radius: 0px 5px 0px 0px;
margin: 6px 0px 0px -1px;
}
.sidebar__folder--zwart{
  background-color: #333333;
  width: 75px;
  height: 38px;
  border-radius: 5px;
  margin-top: 15px;
  z-index: 2;
  position: absolute;
}
