.the_wall{
  height: 300px;
  width: auto;
}
.project {
width:500px;
margin-top: 100px;
margin:100px;
}

.folder__slider{
background-color: #D7D7D7;
  margin-top: 150px;
  grid-area: folder__slider;
  height: 500px;

  overflow: hidden;

}
.folder__slider--grid{
  display: flex;

overflow: auto;
margin-bottom: 0;
height: 92%;

}

.folder__slider .window__header--oranje{
width:100%;

}
.folder__slider .window__header--zwart{
margin-left:31%;
width:50%;
}


.arrow{
  position:static;
  z-index: 5;
}
.left{
  margin-left: 100px;
}
.project .modaal{

}
