/* header */
html{
  scroll-behavior: smooth;
}
body{
  margin:0;
  background-color:#000000;

  /* width */


}



::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color:#333333 ;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background:   rgba(255, 153, 51, 0.50);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background:  rgba(255, 153, 51, 1);
}






.header{
  height:65px;


}
.header__triangle{
  width:100%;
  height:65px;
}
.header__triangle--blue{
  background-color:#FF9933;

}

.header__image  .header__triangle--blue{
  margin:1% 1%;

}

.header__triangle--pink{
margin-top:-65px;
margin-left: 50%;
  width:45.4%;
  border-style: solid;
border-width: 0 0 65px 65px;
border-color: transparent transparent #333333 transparent;
background-color:#FF9933;
}


@media screen and (max-width: 720px)  {
  body{
    margin:0;
    width: 95.3%;

  }

}

/* footer */
